#weava-permanent-marker {
    display: none;
}

#weava-ui-wrapper {
    display: none;
}

#beepixel {
    display: none;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --navbar-height: 34px;
    --header-height: 120px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    margin: auto;
    z-index: 2;
    border-radius: 2px;
}

.btn {
    font-size: 1.4rem;
    height: 36px;
    min-width: 124px;
    border: none;
    margin: 0 4px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 24px;
    font-size: 1.4rem;
    min-width: 190px;
}

.btn.btn--primary {
    color: #fff;
    background-color: #f53e2d;
}

.btn.btn--disabled {
    cursor: default;
    background-color: #999;
    color: #ccc;
}

.select-input {
    height: 30px;
    padding: 0 12px;
    min-width: 160px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.select-input__label {
    font-style: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131, 1);
    position: relative;
    top: 1px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: #d0011b;
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #f53e2d;
}

.pagination-item__link {
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    display: block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}


/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}