:root {
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: #ee4d2b;
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1232px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes notifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }   
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
}

.btn:hover{
    opacity: 0.8;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);

}

.btn.btn--disabled{
    cursor: not-allowed;
    opacity: 0.7;
}
